<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for NRefactory.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;C:\Users\mrx\Downloads\SharpDevelop_3.2.1.6466_Source\src\Libraries\NRefactory\Project\NRefactory.csproj&quot;." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
</RuleSet>